:root{
    --mygrey: #bfbcb8;
    --codebg: #fafafb;
    --mygreen: #00fd9e;
    --myblue: #007bf4;
}

html{
    font-family: 'Roboto', sans-serif;
}

@media (pointer:fine){
    :root{
        --myh1: 5ex;
        --myh2: 4ex;
        --myp: 3ex;
        --mypink: #ffd0e2;
        --mybutton: 30px;

    }

    .pinkbg{
        background-color: var(--mypink);
        color: #570021;
    }
    
    .c{
        display: flex;
        flex-direction: column;
        align-items: top;
        justify-content: center;
        align-content: center;
        padding: 0% 20%;
    }
}

@media (pointer:coarse){
    :root{
        --myh1: 4ex;
        --myh2: 3ex;
        --myp: 2ex;
        --mypink: #f4dde6;
        --mybutton: 20px;
    }

    .greenbg{
        background-color: var(--mygreen);
    }

    .pinkbg{
        background-color: var(--mypink);
    }

    .c{
        display: flex;
        flex-direction: column;
        align-items: top;
        justify-content: center;
        align-content: center;
    }
}

p{
    text-align: left;
    font-size: var(--myp);
}

h1{
    position: relative;
    text-align: center;
    vertical-align: top;
    font-size: var(--myh1);
    margin-block-end: 40px;
}

h2{
    text-align: center;
    vertical-align: top;
    font-size: var(--myh2);
    margin-block-end: 40px;
}

button{
    height: 30px;
    overflow: hidden;
}

a{
    text-align: center;
    color: #020250;
    display: block;
    text-decoration: none;
    position: relative;
    max-width: max-content;
}

a:hover{
    color: #020250;
}

a::before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #020250;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

a:hover::before{
    transform: scaleX(1);
}

.co{
    margin-top: 40px;
    margin-bottom: 40px;
    flex-direction: column;
}

.pyexample{
    align-items: center;
    user-select: none;
    display: flex;
}

.example{
    align-self: top;
    display: inline-block;
    flex-grow: 1;
}

.pycode{
    border: 1px var(--mygrey) solid;
    overflow-y: auto;
    font-size: var(--myp);
    padding: 0 0 0 10px;
    border-radius: 30px;
}

.marked{
    padding: 1px 8px 1px 8px;
    border-radius: 30px;
    max-width: max-content;
}

.a1{
    font-size: var(--myh2);
    margin-bottom: 20px;
}

.a2{
    font-size: var(--myp);
    margin-bottom: 10px;
}

.inner-cont{
    padding: 5px 20px 5px 20px;
}

.sticker{
    padding: 30px;
    margin-top: 70px;
    margin-bottom: 70px;
    border-radius: 30px;
    box-shadow: 0px 0px 19px 11px rgba(71, 72, 73, 0.09);
}

.greenbg{
    background-color: var(--mygreen);
    color: #002a1b;
}
    
.bluebg{
    background-color: var(--myblue);
    color: white;
}

.purplebg{
    background-color: #5757fb;
    color: white;
}

.block{
    border-radius: 30px;
}

.block:target {
    animation: anim .5s;
}

@keyframes anim { 
    0%, 100% {background: rgba(0,0,0,0);}
    50% {background: #bbf2ff;}
}

.header{
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 10%;
}

.first{
    margin-top: 140px;
}

.copybutton{
    width: var(--mybutton);
    height: var(--mybutton);
    background-size: no-repeat;
    background-position: center;
    transition: background-image .7s;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='UTF-8' standalone='no' ?%3e%3c!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3e%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='1000' height='1000' viewBox='0 0 1000 1000' xml:space='preserve'%3e%3cdesc%3eCreated with Fabric.js 5.3.0%3c/desc%3e%3cdefs%3e%3c/defs%3e%3cg transform='matrix(-1 0 0 -1 500 499.4588744589)' id='OT53iD2bywCHpifrgnMfo' %3e%3cg style='' %3e%3cg transform='matrix(1.8905422174 0 0 1.8905422174 -97.9437241266 97.4025985854)' id='l8kar7RCYy_Kay12KP7jl' %3e%3cpath style='stroke: black; stroke-width: 20; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;' transform=' translate(0, 0)' d='M -202.38095 -116.51798 C -202.38095 -163.93878999999998 -163.93879 -202.38094999999998 -116.51798000000001 -202.38094999999998 L -98.74855000000001 -202.38094999999998 L -98.73570000000001 12.545510000000007 L -98.73570000000001 12.545510000000007 C -98.73287 59.908480000000004 -60.481570000000005 98.37856000000001 -13.119380000000007 98.65152 L 202.38096 99.89347000000001 L 202.38096 116.51799000000001 L 202.38096 116.51799000000001 C 202.38096 163.93880000000001 163.9388 202.38096000000002 116.51798999999998 202.38096000000002 L -116.51798000000001 202.38096000000002 L -116.51798000000001 202.38096000000002 C -163.93879 202.38096000000002 -202.38095 163.93880000000001 -202.38095 116.51799000000001 z' stroke-linecap='round' /%3e%3c/g%3e%3cg transform='matrix(1.8905422174 0 0 1.8905422174 97.9437128596 -97.4025873185)' id='ruMJrI-58_ixwibAYTnqP' %3e%3cpath style='stroke: black; stroke-width: 20; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;' transform=' translate(-0.000005, -0.000005)' d='M -202.38095 -116.51798 C -202.38095 -163.93878999999998 -163.93879 -202.38094999999998 -116.51798000000001 -202.38094999999998 L 116.51798999999998 -202.38094999999998 L 116.51798999999998 -202.38094999999998 C 163.9388 -202.38094999999998 202.38096 -163.93878999999998 202.38096 -116.51797999999998 L 202.38096 116.51799000000001 L 202.38096 116.51799000000001 C 202.38096 163.93880000000001 163.9388 202.38096000000002 116.51798999999998 202.38096000000002 L -116.51798000000001 202.38096000000002 L -116.51798000000001 202.38096000000002 C -163.93879 202.38096000000002 -202.38095 163.93880000000001 -202.38095 116.51799000000001 z' stroke-linecap='round' /%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
    border: 0px;
    background-color: white;
    background-size: cover;
}

.copybutton:hover {
    cursor: pointer;
    transition: background-image .7s;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='UTF-8' standalone='no' ?%3e%3c!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3e%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='1000' height='1000' viewBox='0 0 1000 1000' xml:space='preserve'%3e%3cdesc%3eCreated with Fabric.js 5.3.0%3c/desc%3e%3cdefs%3e%3c/defs%3e%3cg transform='matrix(-1 0 0 -1 500 499.4588744589)' id='OT53iD2bywCHpifrgnMfo' %3e%3cg style='' %3e%3cg transform='matrix(1.8905422174 0 0 1.8905422174 -97.9437241266 97.4025985854)' id='l8kar7RCYy_Kay12KP7jl' %3e%3cpath style='stroke: rgb(0, 123, 244); stroke-width: 20; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;' transform=' translate(0, 0)' d='M -202.38095 -116.51798 C -202.38095 -163.93878999999998 -163.93879 -202.38094999999998 -116.51798000000001 -202.38094999999998 L -98.74855000000001 -202.38094999999998 L -98.73570000000001 12.545510000000007 L -98.73570000000001 12.545510000000007 C -98.73287 59.908480000000004 -60.481570000000005 98.37856000000001 -13.119380000000007 98.65152 L 202.38096 99.89347000000001 L 202.38096 116.51799000000001 L 202.38096 116.51799000000001 C 202.38096 163.93880000000001 163.9388 202.38096000000002 116.51798999999998 202.38096000000002 L -116.51798000000001 202.38096000000002 L -116.51798000000001 202.38096000000002 C -163.93879 202.38096000000002 -202.38095 163.93880000000001 -202.38095 116.51799000000001 z' stroke-linecap='round' /%3e%3c/g%3e%3cg transform='matrix(1.8905422174 0 0 1.8905422174 97.9437128596 -97.4025873185)' id='ruMJrI-58_ixwibAYTnqP' %3e%3cpath style='stroke: rgb(0, 123, 244); stroke-width: 20; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;' transform=' translate(-0.000005, -0.000005)' d='M -202.38095 -116.51798 C -202.38095 -163.93878999999998 -163.93879 -202.38094999999998 -116.51798000000001 -202.38094999999998 L 116.51798999999998 -202.38094999999998 L 116.51798999999998 -202.38094999999998 C 163.9388 -202.38094999999998 202.38096 -163.93878999999998 202.38096 -116.51797999999998 L 202.38096 116.51799000000001 L 202.38096 116.51799000000001 C 202.38096 163.93880000000001 163.9388 202.38096000000002 116.51798999999998 202.38096000000002 L -116.51798000000001 202.38096000000002 L -116.51798000000001 202.38096000000002 C -163.93879 202.38096000000002 -202.38095 163.93880000000001 -202.38095 116.51799000000001 z' stroke-linecap='round' /%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
