:root {
    --base-scale: calc(100vw / 75);
    --primary-font-size: calc(max(1em, min(4em, calc(var(--base-scale) * 4))) / 600);
}

* {
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: border-box;
}

.default{
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

.up{
    text-transform: uppercase;
}

.xl{
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    text-decoration: none;
    font-size: calc(var(--primary-font-size) * 600);
}

.l{
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    text-decoration: none;
    font-size: calc(var(--primary-font-size) * 400);
}

.m{
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    text-decoration: none;
    font-size: calc(var(--primary-font-size) * 200);
}

.s{
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    text-decoration: none;
    font-size: calc(var(--primary-font-size) * 168);
}

.bold{
    font-weight: 600;
}

.medium{
    font-weight: 350;
}

.thin{
    font-weight: 200;
}

.main{
    height: calc(100vw * (9 / 14));
    flex-direction: column;
    align-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://fbdayy.ru/static/img/main.webp);
    background-size: cover;
    background-repeat: no-repeat;
    user-select: text;
    vertical-align: middle;
}

.white{
    color: white;
}

.inner-block{
    margin: 10% 40vw 10% 3vw;
    display: inline-block;
    vertical-align: middle;
}

.multiply{
    line-height: 1.3;
}

.fluid{
    display: inline;
    width: 100%;
    height: auto;
}

.fluid-vertical{
    display: inline;
    height: 100%;
    width: auto;
}

.simple{
    padding: 3% 0 0 0;
}

.row-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-top-left-spaced{
    padding: 3% 1% 0 1%;
}

.top-spaced{
    padding: 3% 0 0 0;
}

.inner-spaced{
    gap: 3%;
}

.footer{
    background: #220300;
    padding: 5%;
}

.equal-grow{
    flex-grow: 1;
}

.spaced{
    display: grid;
    gap: 20%;
    height: min-content;
}

.logo {
    height: 100%;
    width: auto;
    cursor: pointer;
    text-align: center;
    padding: 10%;
    border-radius: 50%;
    background: white;
    filter: invert(100%);
    transition: .5s;
}

.circle-wrapper {
    border: black solid 0.05em;
    border-radius: 50%;
    background: black;
}

.circle-wrapper: hover {
    background: white;
}

.logos-div {
    height: 5vw;
}

.central-spaced {
    justify-content: center;
    gap: 3%;
}

.script-disabled{
    display: none;
    align-self: center;
    justify-self: middle;
    text-align: center;"
}

body{
    margin: 0;
}

select{
    color: white;
    background: #220300;
    border: 0px;
    border-radius: 5px;
    margin-top, margin-bottom: 3%;
    cursor: pointer;
    padding: 1% 3% 1% 3%;
    width: 94%
 }
 
select::-ms-expand {display: none;}

select:focus {
 box-shadow: 0 0 1px 2px rgba(110, 126, 127, .5);
 box-shadow: 0 0 0 3px -moz-mac-focusring; 
 outline: none; 
}

form {
    -webkit-box-shadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.17);
    box-shadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.17);
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 10%;
    padding: 7% 18% 7% 18%;
    flex-direction: column;
    border-radius: 15px;
    background-color: Snow;
    text-align: center;
}

input {
    border: 0;
    padding: 3% 0 3% 0;
    border-bottom: 1px solid rgba(165, 165, 165, 0.7);
    background: inherit;
}

input::placeholder {
    color: rgba(105, 105, 105, 0.7);
}

input:focus::placeholder {
  color: transparent;
}

input::-ms-expand {
    display: none;
}

input:focus {
    outline: none; 
}

button{
    transition: color .5s;
    border: black solid 1px;
    border-radius: 30px;
    color: white;
    background: black;
    cursor: pointer;
}

img, a {
    display: inline-block;
}

@media not (scripting: enabled) {
    .multiply{
        display: none;
        padding, margin, border: 0;
    }
    .script-disabled {
        display: block;
    }
    body {
        display: flex;
        height: 100vh;
        width: 100vw;
        align-content: center;
        justify-content: middle;
    }
}

@media (hover: hover) and (pointer: fine) and (min-width: 600px){
    .select-wrapper *{
        display: none;
        padding, margin, border: 0;
    }
    .choose-button-wrapper{
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        height: 5vw;
        margin: 3% 15% 0 15%;
        gap: 10%;
    }
    .choose-button{
        display: inline-block;
        flex-grow: 1;
        width 100%;
    }
    .choose-button:focus{
        color: black;
        background: transparent;
    }
    .space-span {
        width: 100%;
    }
    button:hover {
        color: black;
        background: transparent;
    }
    .logo:hover {
        filter: invert(0%);
    }
    select:hover {
        border: 2px rgba(110, 126, 127, .5);
    }
    input:hover {
        placeholder: none;
    }
    .learn-more:hover .circle {
        width: 100%;
        border-radius: 1.625rem;
        transition: width 0.45s cubic-bezier(0.65, 0, 0.076, 1), border-radius 0.2s;
    }
    .learn-more:hover .circle .icon{
        transition: left 0.25s 0.1s;
    }
    .learn-more:hover .circle .icon.arrow {
        background: #fff;
        left: 8%;
    }
    .learn-more:hover .circle .icon.arrow::before {
        right: 1%;
        transition: right 0.25s;
    }
    .learn-more:hover .button-text {
        color: #fff;
    }
    .to-gallery {
        display: block;
        transform: translateX(0);
        align-self: center;
    }
    .to-gallery-mobile {
        display: none;
        padding, margin, border: 0;
    }
        .learn-more {
        position: relative;
        display: inline-block;
        cursor: pointer;
        outline: none;
        border: 0;
        align-self: center;
        justify-self: center;
        width: 74vw;
        height: auto;
    }
    .learn-more .circle {
        transition: width 0.45s cubic-bezier(0.65, 0, 0.076, 1), border-radius 0.2s 0.25s;
        position: relative;
        transform: translateX(0);
        display: block;
        margin: 0;
        height: 5vw;
        width: 5vw;
        background: #ff8562;
        border-radius: 50%;
    }
    .learn-more .circle .icon {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        position: fixed;
        width: 1vw;
        height: 10%;
        margin: 45% 47.5%;
        top: 0;
        left: 40%;
        bottom: 0;
        margin: auto;
        background: #fff;
    }
    .learn-more .circle .icon.arrow {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        transform: translateX(0);
        position: fixed;
        top: 0%;
        width: 8%;
        height: 0.2em;
        background: none;
    }
    .learn-more .circle .icon.arrow::before {
        position: fixed;
        content: "";
        top: calc(-0.7vw + 0.1em);
        right: -130%;
        height: 1.413vw;
        width: 1.413vw;
        border-top: 0.2em solid #fff;
        border-right: 0.2rem solid #fff;
        transform: rotate(45deg);
        transition: right 0.2s 0.25s;
    }
    .learn-more .button-text {
        position: fixed;
        transition: color 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        top: 12%;
        padding: 0;
        left: calc(20% + 1.41vw);
        color: #ff8562;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        white-space: nowrap;
    }
}

@media not ((hover: hover) and (pointer: fine) and (min-width: 600px)){
    #categories{
        display: block;
    }
    .select-wrapper{
        display: flex;
        justify-content: center;
        padding: 3% 1% 0 1%;
    }
    .choose-button-wrapper *{
        display: none;
        padding, margin, border: 0;
    }
    .to-gallery *{
        display: none;
        padding, margin, border: 0;
    }
    .to-gallery-mobile {
        display: inline-block;
        color: #ff8562;
        align-self: center;
    }
}

