{% extends 'primary-template.html' %}


{% set genres = {'Портреты': ('portrait', ('1.jpg', '2.jpg'), ('3.jpeg',)), 'Стрит': ('street', ('1.jpg', '2.jpg', '3.jpg'), ('4.jpeg',))} %}

{% block content %}
<div class="multiply">
    <a
        data-fancybox
        href="{{ url_for('static', filename='images/main.jpg', alt="images/main.jpg") }}"
        class="default white">
    <div class="main">
        <div class="inner-block">
            <p class="montserrat-600" style="cursor: text; user-select: all; pointer-events: none;">Приятно<br>познакомиться!</p>
            <p class="montserrat-400" style="cursor: text; user-select: all; pointer-events: none;">Я - Нина, фотограф из Санкт-Петербурга. Снимаю преимущественно в жанре Lifestyle, также занимаюсь репортажной и пейзажной съёмкой. Увлекаюсь плёночной фотографией. Люблю естественные живые кадры. Если вы так же, как и я, любите ловить момент, то нам с вами по пути</p>
        </div>
    </div>
    </a>
    <div class="central">
        <select aria-label="Default select example" padding="14px" class="montserrat-500" id="categories">
            {% for genre in genres %}
                {% if loop.index == 1 %}
                    <option selected value="{{ loop.index }}">{{ genre }}</option>
                {% else %}
                    <option value="{{ loop.index }}">{{ genre }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>



    {% for genre in genres.keys()|list %}
        {% if loop.index == 1 %}
            <div id="block{{ loop.index }}" style="display:block">
        {% else %}
            <div id="block{{ loop.index }}" style="display:none">
        {% endif %}
        {% for photos in genres[genre][1:] %}
            {% if photos|length > 1 %}
                <div class="multy">
                {% for photo in photos %}
                    {% set file = 'img/' + genres[genre][0] + '_' + photo %}
                    <a
                        data-fancybox
                        class="default"
                        href="{{ url_for('static', filename=file) }}">
                        <img src="{{ url_for('static', filename=file) }}" class="fluid" alt="{{ file }}">
                    </a>
                 {% endfor %}
                 </div>
            {% else %}
                <div class="last">
                {% set file = 'img/' + genres[genre][0] + '_' + photos[0] %}
                    <a
                        data-fancybox
                        class="default"
                        href="{{ url_for('static', filename="file") }}">
                        <img src="{{ url_for('static', filename=file) }}" class="fluid" alt="{{ file }}">
                    </a>
                </div>
            {% endif %}
        {% endfor %}
            </div>
    {% endfor %}
    
    
    <div class="footer">
        <a class="montserrat-400 default salmon up" href="https://page-portraits.tilda.ws" style="padding: 0 0 0 17%">смотреть фотогалерею</a>
    </div>

    <form method="post" class="central spaced">
        <div>
            <p class="montserrat-550">Заказать фотосессию</p>
            <p class="montserrat-300">Заполните форму с вашими данными и комментарием, и я свяжусь с вами</p>
        </div>
        <div class="spaced central">
        <input type="email" placeholder="Ваш e-mail" email="email" class="montserat-350">
        <input type="text" placeholder="Ваше имя" name="name" class="montserat-350">
        <input type="text" placeholder="Ваш комментарий" comment="comment" class="montserat-350">
        <button type="submit" class="montserat-350" style="align: center;">Заказать</button>
        </div>
    </form>
    <p>Кря</p>
</div>
{% endblock %}
