<!DOCTYPE html>
<html lang="ru">
<head>
    <title> {% block title %}Фотограф Нина Фёдорова{% endblock %}</title>
    
    <meta charset="utf-8">
    <meta http-equiv="charset" content="utf-8">
    <meta http-equiv="content-type" content="text/html;">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% block description %}Я - Нина, фотограф из Санкт-Петербурга. Снимаю преимущественно в жанре Lifestyle, также занимаюсь репортажной и пейзажной съёмкой. Увлекаюсь плёночной фотографией. Люблю естественные живые кадры{% endblock %}">
    
    {% block fonts %}
    <script defer src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    {% endblock %}
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% block content %}
    {% endblock %}
    
    {% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
    <script>
    Fancybox.bind('[data-fancybox]', {
        //
    });    
    </script>
    <script>
    document.getElementById("categories")
        .onchange = function () {
            var b = {
                1: "block1",
                2: "block2"
            }, c = this.value,
                a;
            for (a in b) document.getElementById(b[a])
                .style.display = 0 == c || c == a ? "block" : "none"
    };
    </script>
    {% endblock %}
</body>
</html>
